* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

.hero {
  height: 100vh;
  background-color: #ddd;
}

#screen-width {
  top: 0;
  width: 100%;
  text-align: center;
  position: fixed;
  font-size: 10px;
  background-color: #ddd;
  padding: 20px;
}

#screen-width span {
  color: red;
}

.main-area {
  margin: 40px 40px 100px;
  max-width: 980px;
}

.content {
  margin: 40px;
  display: flex;
  flex-direction: column;
}

.menu {
  /*  display: flex;*/
  background-color: #eee;
  padding: 20px;
  position: relative;
}

.menu li {
  list-style: none;
}

.content-docs {
  display: flex;
}

.list {
  /*  position: absolute;*/
}

.fixed {
  position: fixed;
  top: 100px;
}

.bottom {
  position: absolute;
  bottom: 100px;
}

.list ul {}

footer {
  background-color: #aaa;
  height: 900px;
}
